<div class="progress-bar">
  <% if @pre_launch %>
    <%= show_svg('progress-bar-0.svg')%>
  <% elsif !@pre_launch && @current_user.score == 1 %>
    <%= show_svg('progress-bar-1.svg') %>
  <% elsif !@pre_launch && @current_user.score == 2 %>
    <%= show_svg('progress-bar-2.svg') %>
  <% elsif !@pre_launch && @current_user.score == 3 %>
    <%= show_svg('progress-bar-3.svg') %>
  <% elsif !@pre_launch && @current_user.score == 4 %>
    <%= show_svg('progress-bar-4.svg') %>
  <% end %>
</div>
