<div class="timeline-container">
  <% if scoring_pull_requests.empty? %>
    <div class="container pre-launch-container">
      <h2 class='title is-2'>You haven't made any pull requests yet.</h2>
      <%= link_to "Get started", details_path, anchor: "getting-started", class: "button" %>
    </div>
  <% else %>
    <h3 class="title is-3">Your contributions</h3><br/>
    <table class="table is-narrow is-fullwidth">
      <tbody>
      <% scoring_pull_requests.map do |pr| %>
        <%= render partial: 'users/show/timeline/pr', locals: {pr: pr, user: user} %>
      <% end %>
      <% if show_timer %>
      <tr>
        <td colspan="2">
          <div class="winning-msg-cont">
            <p id="waiting_date"><%= user.waiting_since.to_formatted_s(:long) %></p>
            <h1 class="title is-2 pink-highlight"> You're almost there!</h1>
            <span class="title is-3">🎉 You’ve submitted the four required PRs for the Hacktoberfest challenge! So long as your PRs successfully pass the review period, they’ll become valid in</span>
            <span class="title is-3 pink-highlight" id="countdown"></span>
            <span class="title is-3"> — which means you’ll have officially completed this year’s challenge!</span>
          </div>
        </td>
      </tr>
      <% end %>
      <% if non_scoring_pull_requests.any? %>
        <% non_scoring_pull_requests.map do |pr| %>
          <%= render partial: 'users/show/timeline/pr', locals: {pr: pr, user: user} %>
        <% end %>
      <% end %>
      </tbody>
    </table>
    <%= render partial: 'users/show/timeline/legend' %>
  <% end %>
  <% if user.waiting? %>
  <script type="text/javascript">
    var element = document.getElementById('countdown')
    var date = "<%= @presenter.waiting_since_for_js %>"
    countdownTimers(element, date)
  </script>
  <% end %>
</div>
