<div class="timeline-container">
    <h3 class="title is-3">Your contributions</h3><br/>
    <table  class="table is-narrow is-narrow is-fullwidth " >
      <tbody>
        <% @pull_requests.map do |pr| %>
        <tr>
        <td><div class="icon-box">
          <% if pr.mature? %>
          <div class="eligible-box">
            <%= image_tag 'eligible', class: 'center-icon' %>
          </div>
          <% elsif pr.eligible? && !pr.mature? %>
          <div class="pending-box">
            <%= image_tag 'pending', class: 'center-icon' %>
          </div>
          <% else %>
          <div class="ineligible-box">
            <%= image_tag 'ineligible', class: 'center-icon' %>
          </div>
          <% end %>
        </div></td>
        <td><div>
          <p> <%=  DateTime.parse(pr.created_at).to_formatted_s(:long) %><br/> </p>
          <h3 class="title is-3">You submitted "<%= pr.title %>" to <%= pr.url.split('/')[3] %><br/></h3>
          <a href="<%= pr.url %>"> view on github </a><br/>
        </div></td>
          <% if pr.eligible? %>
          <td><div>
            <p>Mature in:</p><span id="countdown" class="timer"></span>
          </div></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
</div>
