<div class="timeline-container">
  <% if @presenter.timeline_pull_requests.empty? %>
    <div class="container pre-launch-container" >
      <h2 class='title is-2'>You haven't made any pull requests yet.</h2>
      <%= link_to "Get started", details_path, anchor: "getting-started", class: "button"%>
    </div>
  <% else %>
    <h3 class="title is-3">Your contributions</h3><br/>
    <table  class="table is-narrow is-narrow is-fullwidth " >
      <tbody>
        <% @presenter.timeline_pull_requests.map do |pr| %>
        <tr>
        <td><div class="icon-box">
          <% if pr.mature? %>
          <div class="eligible-box">
            <%= image_tag 'eligible', class: 'center-icon' %>
          </div>
          <% elsif pr.eligible? %>
          <div class="pending-box">
            <%= image_tag 'pending', class: 'center-icon' %>
          </div>
          <% else %>
          <div class="ineligible-box">
            <%= image_tag 'ineligible', class: 'center-icon' %>
          </div>
          <% end %>
        </div></td>
        <td><div>
          <p> <%=  DateTime.parse(pr.created_at).to_formatted_s(:long) %><br/> </p>
          <h3 class="title is-3">You opened <a href="<%= pr.url %>"><%= pr.title %></a> in <%= pr.url.split('/')[3] %><br/></h3>
        </div></td>
          <% if pr.eligible? && @presenter.user.waiting? %>
          <td><div>
            <p>Mature in:</p>
            <span class="countdown" >
            </span>
          </div></td>
          </tr>
          <% end %>
        <% end %>
        <td>
          <div>
            <% if @presenter.timeline_pull_requests.count > 10 %>
            <div class="indigo-button container is-full">
              <h3 class="title is-3 center">Load more</h3>
            </div>
            <% end %>
          </div>
        </td>
        <% if @presenter.timeline_pull_requests.any? %>
        <script type="text/javascript">
          var elements = document.getElementsByClassName('countdown')
          var date = "<%= @presenter.user.waiting_since %>"
          countdownTimers(elements, date)
        </script>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
