<div class="dropdowns">
  <div class="field">
    <%= f.label :email, 'Select your preferred email address' %>

    <div class="control">
      <div class="select">
        <%= f.select :email, @emails,
                     {
                         include_blank: 'None selected',
                         :selected => u.email,
                         :required => true
                     } %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :category, 'Select all roles that apply to you:' %>

    <div class="control">
      <%= f.label "Select all roles that apply to you..." %>
      <% @categories.each do |key, value| %>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <%= f.check_box(:category,
                              {
                                  :multiple => true,
                                  :class => 'check-style',
                                  :checked => ((u.category || '').split(',').include? value)
                              },
                              value, nil) %>
              <%= key %>
            </label>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= f.label :email, 'Select your country (optional)' %>

    <div class="control">
      <div class="select">
        <%= f.country_select :country,
                             {
                                 include_blank: 'None selected',
                                 selected: u.country
                             } %>
      </div>
    </div>
  </div>
</div>
