<section class="section reg-content">
  <div class="container">
    <div class="registration-wrapper">
      <div class="registration-left">
        <div class="register-header">Register</div>
        <h1 class="title is-1">About you</h1>
        <p>
          Please select which email address you’d like to use for Hacktoberfest and read the
          <a target="_blank" href="/details#rules">rules and values</a>.
        </p>

        <%= form_for :user, url: {action: 'register'}, method: :patch do |f| %>
          <%= render partial: 'users/dropdowns', locals: { f: f, u: User.new } %>

          <div class="checkboxes">
            <div class="field">
              <div class="control">
                <label class="checkbox">
                  <%= f.check_box :digitalocean_marketing_emails, { checked: true }, :class => 'check-style' %>
                  Send me updates related to the Hacktoberfest community,
                  open source, and products from DigitalOcean.
                </label>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <label class="checkbox">
                  <%= f.check_box :intel_marketing_emails, :class => 'check-style' %>
                  Send me updates related to the Intel community and products.
                </label>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <label class="checkbox">
                  <%= f.check_box :dev_marketing_emails, :class => 'check-style' %>
                  Send me updates related to the DEV community and products.
                </label>
              </div>
            </div>
          </div>

          <% if @current_user.errors.messages[:terms_acceptance].include?("must be accepted") %>
            <p class="error">You must accept the terms and conditions to participate in Hactoberfest.</p>
          <% end %>

          <div class="field">
            <div class="control">
              <label class="checkbox">
                <%= f.check_box :terms_acceptance, {:class => 'check-style', :required => true} %>
                I have read and understand the
                <a target="_blank" href="/details#rules">Rules and Values</a>.
              </label>
            </div>
          </div>

          <%= f.submit 'Start Hacking', :class => 'submit-btn' %>
        <% end %>
      </div>

      <div class="registration-right">
        <div class="background-img"></div>
      </div>
    </div>
  </div>
</section>
