<div class='container'>
  <div class="profile-container">
    <div class='user-section'>
      <div class="level">
        <div class="level-left">
          <div class="avatar">
            <figure class='image is-128x128'>
              <%= image_tag "https://github.com/#{@current_user.name}.png?size=150", class: 'is-rounded'%>
            </figure>
          </div>
          <h2 class='username title is-2'><%= @current_user.name %> </h2>
        </div>
        <div class="level-right"
          <p class='progress-msg'>YOUR PROGRESS</p>
          <%= render 'users/show/progress_bar' %>
        </div>
      </div>
    </div>
    <% if  Hacktoberfest.pre_launch?  %>
    <div class="hacktoberfest-winner">
      <%= render 'users/show/hacktoberfest_results' %>
    </div>
    <% end %>
    <% if !Hacktoberfest.pre_launch? %>
    <div class="container box">
      <%= render 'users/show/timeline' %>
    </div>
    <% elsif !Hacktoberfest.pre_launch? %>
    <div class="container box">
      <%= render 'users/show/pre_launch' %>
    </div>
    <% end %>
  </div>
</div>
