<div class='container profile'>
  <div class="profile-container">
    <div class='user-section'>
      <div class="level">
        <div class="level-left">
          <div class="avatar">
            <figure class='image'>
              <%= image_tag "https://github.com/#{@presenter.name}.png?size=150", class: 'is-rounded'%>
            </figure>
          </div>
          <h2 class='username title is-2'><%= @presenter.name %> </h2>
        </div>
        <div class="level-right">
          <p class='progress-msg'>YOUR PROGRESS</p>
          <%= render partial: 'users/show/progress_bar', locals: { score: @presenter.score } %>
        </div>
      </div>
    </div>
    <% if @presenter.display_pre_launch? %>
      <div class="container box">
        <%= render partial: 'users/show/pre_launch' %>
      </div>
    <% else %>
      <% if @presenter.display_results? %>
        <div class="hacktoberfest-winner">
          <%= render partial: 'users/show/hacktoberfest_results' %>
        </div>
      <% end %>
      <div class="container box">
        <%= render partial: 'users/show/timeline', locals: { user: @presenter.user, scoring_pull_requests: @presenter.scoring_pull_requests, non_scoring_pull_requests: @presenter.non_scoring_pull_requests, show_timer: @presenter.show_timer? }  %>
      </div>
    <% end %>
    <%= link_to "Log out @#{@presenter.name}", logout_path, :class => "button" %>
  </div>
  <div class="box report-spam-cont">
    <h3 class="title is-3">Have you seen a repository that you don’t think aligns with the <%= link_to "Hacktoberfest values", details_path %>? Please <%= link_to "Report it to us", report_path %> so we can take a look.  </h3>
  </div>
</div>
