<div>
  <%= link_to 'Hacktoberfest', '/' %>
  <p>Score:</p>
  <%= @score.to_i %> out of 4!
  <div>
    <p>Valid</p>
  <% @pull_requests[:eligible].map do |pr| %>
    <h2><%= pr.title %><br/> </h2>
    <p><%= pr.body %><p/><br/>
      <a href="<%= pr.url %>"> click here to view on github </a><br/>
    <%= DateTime.parse(pr.created_at).to_formatted_s(:short) %><br/>
    <% end %>
  </div>
  <div>
    <p>Invalid</p>
  <% @pull_requests[:invalid].map do |pr| %>
    <h2><%= pr.title %><br/> </h2>
    <p><%= pr.body %><p/><br/>
      <a href="<%= pr.url %>"> click here to view on github </a><br/>
    <%= DateTime.parse(pr.created_at).to_formatted_s(:short) %><br/>
    <% end %>
  </div>
</div>
