<div class="main-user-container">
  <div class='container is-fullhd'>
    <main>
      <div class='profile-container'>
        <div class='container is-fullhd '>
          <div class='user-section'>
            <div class="level">
              <div class="level-left">
                <div class="avatar">
                  <figure class='image is-128x128'>
                    <%= image_tag "https://github.com/#{@current_user.name}.png?size=150", class: 'is-rounded'%>
                  </figure>
                </div>
                <h2 class='username'><%= @current_user.name %> </h2>
              </div>
              <div class="level-right"
              <div>
                <p class='progress-msg'>YOUR PROGRESS</p>
                <div class="progress-bar">
                  <% if @pre_launch %>
                  <%= image_tag 'pre-launch-progress-bar' %>
                  <% else %>
                  <%= render 'users/show/progress_bar' %>
                  <% end  %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <% if @display_timeline %>
          <%= render 'users/show/timeline' %>
          <% else %>
          <%= render 'users/show/pre_launch' %>
          <% end %>
        </div>
      </div>
    </div>
  </main>
  </div>
</div>
