<div class="profile-page">
  <div class="profile-left">
    <div class="main-content-wrapper">
      <div class="account-wrapper">
        <span>
          <div class="avatar">
            <figure class='image'>
              <%= image_tag "https://github.com/#{@presenter.name}.png?size=150", class: 'is-rounded'%>
            </figure>
          </div>
          <h2 class='username title is-2'><%= @presenter.name %> </h2>
        </span>
        <div class="profile-actions">
          <%= link_to "Edit Profile", profile_edit_path, :class => "button-static edit" %>
          <%= link_to "Log out @#{@presenter.name}", logout_path, :class => "button-static logout" %>
        </div>
      </div>

      <div class="progress-wrapper mobile">
        <h4 class="progress-header">your progress</h4>
        <%= render partial: 'users/show/progress_bar', locals: { score: @presenter.score } %>
        <% if @presenter.bonus_score > 0 %>
          <div class="icon-box">
            <div class="bonus-box"></div>
            <span><%= @presenter.bonus_score %> extra <%= "PR".pluralize(@presenter.bonus_score) %></span>
          </div>
        <% end %>
      </div>

      <% if @presenter.display_pre_launch? %>
        <div class="container pre-launch-container">
          <h2 class='title is-2'>Get ready to start contributing to Hacktoberfest.</h2>
          <h4 class="title is-4">Pull requests for Hacktoberfest count from October 1st to 31st.</h4>
          <br/>

          <%= link_to "Find out more", details_path, anchor: "getting-started", class: "button-static" %>
          <%= link_to "Attend an event", events_path, class: "button-static" %>
          <%= link_to "Organize an event", event_kit_path, class: "button-static" %>
        </div>
      <% elsif @presenter.display_no_contributions? %>
        <div class="container pre-launch-container">
          <% if @presenter.display_post_launch? %>                    
            <h2 class='title is-2'>Hacktoberfest 2020 is officially over.</h2>
            <p>We noticed that you registered but didn’t make any pull requests this year. 
               Please come back next year and contribute to #Hacktoberfest2021!
            </p>
          <% else %>
            <h2 class='title is-2'>You haven't made any pull requests yet.</h2>
            <p>Here are some ideas to get you started:</p>
            <div class="idea-set">
              <div class="idea-pane">
                <h3>Attend an Event</h3>
                <p>Don’t hack alone. Join a virtual event and create your pull requests with others.</p>
                <%= link_to "Find Events", "/events", class: "button-static" %>
              </div>
              <div class="idea-pane">
                <h3>Find ideas in tagged issues</h3>
                <p>Check out these links for good first issues that will qualify for the Hacktoberfest challenge.</p>
                <%= link_to "Find an issue", details_path, anchor: "beginners", class: "button-static" %>
              </div>
              <div class="idea-pane">
                <h3>Join the Hacktoberfest Discord</h3>
                <p>Connect with other participants, share ideas and get the help you need to complete the challenge.</p>
                <%= link_to "Attend an event", "https://discord.gg/hacktoberfest", class: "button-static" %>
              </div>
              <div class="idea-pane">
                <h3>Fork your own repo with your own PRs</h3>
                <p>Not ready to contribute to an open source project? View this guide to making your own repo and creating pull requests to complete the challenge.</p>
                <%= link_to "Get started", "https://www.digitalocean.com/community/tutorials/how-to-create-a-pull-request-on-github", class: "button-static" %>
              </div>
            </div>
          <% end %>
          
        </div>
      <% end %>

      <div class="hacktoberfest-results-box">
        <% if @presenter.display_coupon? %>
            <%= render partial: 'users/show/display_coupons', locals: { code: @presenter.code } %>
        <% end %>
        <% if @presenter.display_sticker_gift? %>
          <%= render partial: 'users/show/display_sticker_gift', locals: { code: @presenter.code } %>
        <% end %>
        <% if @presenter.display_waiting_for_prize? %>
            <%= render partial: 'users/show/waiting_for_prize', locals: { code: @presenter.code } %>
        <% end %>
        <% if @presenter.display_thank_you? %>
            <%= render partial: 'users/show/thank_you', locals: { user: @presenter.user } %>
        <% end %>
        <% if @presenter.display_waiting_thank_you? %>
          <%= render partial: 'users/show/waiting_thank_you', locals: { user: @presenter.user } %>
        <% end %>
      </div>
      <div class="container">
        <%= render partial: 'users/show/timeline', locals: { user: @presenter.user, display_timeline: @presenter.display_timeline?, scoring_pull_requests: @presenter.scoring_pull_requests, non_scoring_pull_requests: @presenter.non_scoring_pull_requests, show_timer: @presenter.show_timer?, show_congratulations: @presenter.show_congratulations? }  %>
      </div>
    </div>

    <div class="main-content-wrapper">
      <p class="p-margin">Have you seen a repository that you don't think aligns with the <%= link_to "Hacktoberfest values", details_path %>? Please <%= link_to "report it to us", report_path %> so we can take a look.</p>
    </div>
  </div>

  <div class="profile-right">
    <div class="progress-wrapper desktop">
      <h4 class="progress-header">your progress</h4>
      <%= render partial: 'users/show/progress_bar', locals: { score: @presenter.score } %>
      <% if @presenter.bonus_score > 0 %>
        <div class="icon-box bonus-wrapper">
          <div class="bonus-box"></div>
          <span><%= @presenter.bonus_score %> extra <%= "PR".pluralize(@presenter.bonus_score) %></span>
        </div>
      <% end %>
    </div>
    <div class="education-wrapper">
      <div class="info-pane">
        <h3>Do's and Don'ts of Hacktoberfest</h3>
        <div class="info-pane-item dont">
          <h2>Don't: Open pull requests with minor text edits on other people's repositories</h2>
          <p>If you're looking for a faster way to open four PR's and win, there's a better way!</p>
        </div>
        <div class="info-pane-item do">
          <h2>Do: Follow a repository's contribution guidelines</h2>
          <p>Almost every repo looking for help has a <code>CONTRIBUTING.md</code> file in it, <em>read it first!</em></p>
        </div>
        <div class="info-pane-item dont">
          <h2>Don't: Feel intimidated</h2>
          <p><a href="/events">Register for an event</a> and learn with a group, or connect with others in the Discord chat.</p>
        </div>
      </div>
    </div>

  </div>

</div>
