<footer class="footer">
    <div class="social level">
      <div class="level-left">
        <div class="line-br">
          <span class="line-br-1">-</span>
          <span class="line-br-2">-</span>
        </div>
        <h2 class="title is-2">Spread the word!</h2>
        <div class="footer-social-links">
          <a class="grow-shadow" href="https://www.facebook.com/sharer/sharer.php?u=https://hacktoberfest.digitalocean.com/">
            <%= show_svg('icon-facebook.svg') %>
            <span>Facebook</span>
          </a>
          <a class="grow-shadow" href="https://ctt.ac/c5WeF">
          <%= show_svg('icon-twitter.svg') %>
            <span>Twitter</span>
          </a>
        </div>
      </div>
      <div class="level-right">
          <img id="footer-logo" src="<%= asset_path('logo-hf19-full.svg')%>" alt="Hacktoberfest Logo">
      </div>
    </div>
    <div class="footer-end">
      <div class="footer-logos">
      <a href="https://www.digitalocean.com"><img src="<%= asset_path('do-footer-logo.svg')%>" alt="DigitalOcean Logo" ></a>
      <p> + </p>
      <a href="https://www.dev.to"><img class="dev-logo" src="<%= asset_path('dev-footer-logo.svg')  %>" alt="Dev Logo"></a>
      </div>
      <p>© 2020 DigitalOcean, LLC. All rights reserved.</p>
    </div>
</footer>
