<header>
  <nav class="navbar" id="navbar">
    <div class="navbar-primary">
      <a href="/" class="logo">
        <img alt="Hacktoberfest Logo" class="nav-logo">
      </a>
      <ul class="navbar-links">
        <li><%= link_to "home", root_path, :class => active_path_class?(root_path, '') + " navLink"  %></li>
        <li><%= link_to "resources", details_path, :class => active_path_class?(details_path, '') + " navLink"  %></li>
        <li class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <%= link_to events_path, :class => active_path_class?(events_path, event_kit_path) + " navLink" do %>
              Events
              <small>▼</small>
            <% end %>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <%= link_to "View All Events", events_path, :class => "dropdown-item navLink"  %>
              <hr class="dropdown-divider">
              <%= link_to "Event Organizer Kit", event_kit_path, :class => "dropdown-item navLink"  %>
            </div>
          </div>
        </li>
        <li><%= link_to "faq", faq_path, :class => active_path_class?(faq_path, '') + " navLink"  %></li>
        <li>
          <% if @current_user %>
            <%= link_to "profile", profile_path, :class => active_path_class?(profile_path, '') + " navLink"  %>
          <% else %>
            <%= link_to Hacktoberfest.ended? ? "profile" : "start hacking", login_path, :class => "button button-small navLink" %>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="toggle">
      <p>Dark Mode </p>
      <label class="toggle-switch">
        <input
            id="toggle-checkbox"
            type="checkbox"
            onclick="
            localStorage.setItem('mode', (localStorage.getItem('mode') || 'light') === 'light' ? 'dark' : 'light'); 
            localStorage.getItem('mode') === 'dark' ? document.querySelector('body').classList.add('dark') : document.querySelector('body').classList.remove('dark');
            " 
            title="Dark/light"
          />
          <span class="toggle-slider"></span>
      </label>
    </div>
  </nav>
</header>
<script>
// after turbolinks finishes loading check localStorage mode and check the toggle if it needs to be darkmode
document.addEventListener("turbolinks:load", ()=> {
  if(localStorage.getItem('mode') === 'dark') document.getElementById('toggle-checkbox').checked = true
});
</script>
