<header>
  <nav class="navbar" id="navbar">
    <a href="/"><img id="header-logo" src="<%= asset_path('logo-hf19-header.svg') %>" alt="Hacktoberfest Logo" width="475" ></a>
    <ul class="navbar-end">
      <li><%= link_to "home", root_path, :class => active_path_class?(root_path, '') + " navLink"  %></li>
      <li><%= link_to "details", details_path, :class => active_path_class?(details_path, '') + " navLink"  %></li>
      <li class="dropdown is-hoverable">
        <div class="dropdown-trigger">
          <%= link_to "Events", events_path, :class => active_path_class?(events_path, event_kit_path) + " navLink"%>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <%= link_to "view all events", events_path, :class => "dropdown-item navLink"  %>
            <hr class="dropdown-divider">
            <%= link_to "event kit", event_kit_path, :class => "dropdown-item navLink"  %>
          </div>
        </div>
      </li>
      <li><%= link_to "faqs", faq_path, :class => active_path_class?(faq_path, '') + " navLink"  %></li>
      <% if @current_user %>
        <li><%= link_to "profile", profile_path, :class => active_path_class?(profile_path, '') + " button button-small navLink"  %></li>
      <% else %>
        <li><%= link_to "start hacking", profile_path, :class => "button button-small navLink"  %></li>
      <% end %>
    </ul>
  </nav>
</header>
