<main class="home" @>

  <section class="home-hero">
    <div class="container">
      <%= image_tag("HF-full-logo.svg", :alt => "Hacktoberfest Logo") %>
      <h1 class="title is-1">
        <strong class="highlight">Support open source</strong> and pick a limited edition t-shirt or plant a tree. 
      </h1>
        <%= link_to "start hacking", login_path, :class => active_path_class?(profile_path, '') + " button" %>
        <div class="presented-by">
          <p>Presented by</p>
          <img alt="DigitalOcean logo" class="header-do-logo">
          <p>+</p>
          <img alt="Intel logo" class="header-intel-logo">
          <p>+</p>
          <img alt="DEV logo" class="header-dev-logo">
        </div>
    </div>
  </section>

  <section class="home-video">
    <div class="container">
     <script src="https://fast.wistia.com/embed/medias/rrnq2hxoso.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_rrnq2hxoso videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/rrnq2hxoso/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
    </div>
  </section>

  <section class="home-event-details">
    <div class="container">
      <h2 class="title is-2"> Event details</h2>
      <p>
        Hacktoberfest<span class="reg">&reg;</span> is open to everyone in our global community. Whether you’re a developer, student learning to code, event host, or company of any size, you can help drive growth of open source and make positive contributions to an ever-growing community. All backgrounds and skill levels are encouraged to complete the challenge.
      </p>
      <ul>
        <li class="bullet">
          <span>Hacktoberfest is a celebration <strong>open to everyone</strong> in our global community.</span>
        </li>
        <li class="bullet">
          <span>Pull requests can be made in <strong>any GitHub-hosted repositories/projects.</strong></span>
        </li>
        <li class="bullet">
          <span>You can sign up anytime between October 1 and October 31.</span>
        </li>
      </ul>
      <h2 class="title is-2">Rules</h2>
      <p>
       To earn your Hacktoberfest tee or tree reward, you must register and make four valid pull requests (PRs) between October 1-31 (in any time zone). PRs can be made to any public repo on GitHub, not only the ones with issues labeled Hacktoberfest. If a maintainer reports your pull request as spam or behavior not in line with the project’s code of conduct, you will be ineligible to participate. This year, the first 75,000 participants who successfully complete the challenge will be eligible to receive a prize.
      </p>
      <p>Read the <%= link_to 'participation details', details_path, :class => "participation-link" %> to learn how to earn your Hacktoberfest tee or tree reward.</p>
    </div>
  </section>
  
  <section class="home-projects">
    <div class="container">
      <a name="projects"></a>
      <h2 class="title is-2">Hacktoberfest projects</h2>
      <p>
        You can contribute to any project on GitHub. Here are a few looking for some help:
      </p>
      <div class="level language-filter">
        <div class="right">
          <div class="field">
            <div class="control">
              <div class="select">
                <%= collection_select(:language, :id, Language.all.sort_by(&:name), :id, :name, prompt: "Select language", html_options: {class: 'language-dropdown'}) %>
              </div>
            </div>
          </div>
          <button type="button" class="button button-small" id="reset-filter">Remove filter</button>
        </div>
      </div>
      <div class="grid" id="project-list">
        <% if @sample_projects %>
          <%= render partial: 'languages/sample_projects', locals: { sample_projects: @sample_projects } %>
        <% elsif @projects %>
          <%= render partial: 'languages/all_projects', locals: { projects: @projects } %>
        <% end %>
      </div>
      <a href="https://github.com/search?q=label%3Ahacktoberfest+state%3Aopen+no%3Aassignee+is%3Aissue&type=Issues">
        <button class="button" type="button" name="button">Browse more on GitHub</button>
      </a>
    </div>
  </section>

  <section class="home-special-projects">
    <div class="container">
      <a name="featured"></a>
      <h2 class="title is-2 featured">
        Projects focused on climate change & COVID-19 Relief
      </h2>
      <p>
        Featured projects focused on tackling Climate Change and supporting the fight against COVID-19
      </p>
      <div class="grid">
        <% @featured_projects.map do |repository| %>
          <a href="<%= repository['Repo URL'] %>">
          <div class="box projects grow-shadow">
            <div class="title-wrap">
              <h3 class="repo-name"> <%= repository['Repo Name'] %> </h3>
              <span class="lang"><%= repository['Repo Language'] %></span>
            </div>
            <p class="description"><%= repository['Description'] %></p>
          </div>
            </a>
        <% end %>
      </div>
      <a href="https://github.com/topics/climate-change">
        <button class="button" type="button" name="button">Browse more on GitHub</button>
      </a>
     </div>
  </section>

  <section class="events-block">
    <div class="container">
      <div class="events">
        <h2 class="title is-2">Global events</h2>
        <p>
          Celebrate and support open source technology by <a href="https://hacktoberfest.digitalocean.com/eventkit">organizing</a> or  <a href="https://hacktoberfest.digitalocean.com/event">attending</a> a virtual event in October.
        </p>
        <!-- FEATURED EVENTS GENERATED HERE -->
        <div class="event-union">
          <% @events.map do |e| %>
          <a class="box grow-shadow" href="<%= e.url %>">
              <span class="event-month">
                <% formatted_date= e.date.to_formatted_s(:long).split(" ") %>
                <%= formatted_date[0] %>
              </span>
              <span class="event-day">
                <%= formatted_date[1].split(",")[0] %>
              </span>
              <div>
              <span class="event-title">
                <%= e.name %>
              </span>
              <span class="event-location">
                <%= e.city %>, <%= e.country %>
              </span>
              </div>
          </a>
          <% end %>
        </div>
        <div id="eventmap" style="max-width: 1170px; height: 470px;"></div>
      <%= link_to 'See more events', events_path, :class => 'button' %>
      </div>
    </div>
  </section>

  <section class="sponsors">
    <div class="container">
      <h2 class="title is-2">Words from our sponsors</h2>
      <div class="tile is-ancestor">
        <div class="tile is-child is-6">
          <h4 class="title is-4">
            <%= image_tag("DO-logo-footer.svg", :alt => "DO Logo") %>
          </h4>
          <p>
            We’re so excited to partner with
            <a href="https://dev.to">DEV</a>
            – an
            <a href="https://github.com/thepracticaldev/dev.to">open source</a>
            community platform built for developers of all backgrounds and experience levels – for this year’s Hacktoberfest. As a torch-bearer for open source, transparency, and inclusion in tech, DEV fully embodies the Hacktoberfest values. Check out the <a href="https://dev.to/t/hacktoberfest">#Hacktoberfest</a>
            tag on DEV for announcements and resources before, during, and after the event.
          </p>
        </div>
        <div class="tile is-child is-6">
          <h4 class="title is-4">
            <%= image_tag("DEV-logo-footer.svg", :alt => "DEV Logo", :class => "dev-logo") %>
          </h4>
          <p>
            As participants long before we became sponsors, we’re thankful to our friends at
            <a href="https://www.digitalocean.com/">DigitalOcean</a>
            for creating Hacktoberfest. As an advocate of developers and startups, their cloud platform uniquely hits on both simplicity and scalability. And their
            <a href="https://www.digitalocean.com/community">Community platform</a>
            has become a global resource for education on development and DevOps topics, further illustrating that they, too, are stewards of
            <a href="https://developers.digitalocean.com/opensource/">open source</a>.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
<script type="text/javascript">
  // setupPRsOpenedChart();
</script>
<script defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaiOH0fpf3MEEsObdMPSJgWw3H4iiNmEo&callback=setupEventMap">
    // DO's actual google api key AIzaSyCSKmGpLScyml6i3_YOoKoE7UCUeYs-H0k
    // test key AIzaSyBaiOH0fpf3MEEsObdMPSJgWw3H4iiNmEo
</script>

