<main class="home" id="main-home"@>
  <section class="section">
    <div class="hero-body">
      <h1 class="title is-1 is-spaced">Support open source and earn a <span class="highlight">limited edition T-shirt</span>!
      </h1>
      <%= link_to 'Start Hacking', start_path, :class => 'button' %>
    </div>
    <div class="section2 space">
      <div class="line-br">
        <span class="line-br-1">-</span>
        <span class="line-br-2">-</span>
      </div>
      <h2 class="title is-2 is-spaced"> Event details</h2>
      <p class="p">
        Hacktoberfest<span class="reg">&reg;</span> is open to everyone in our global community. Whether you’re a developer, student learning to code, event host, or company of any size, you can help drive growth of open source and make positive contributions to an ever-growing community. All backgrounds and skill levels are encouraged to complete the challenge.
      </p>
      <ul>
        <li class="bullet">
          <span class="p">Hacktoberfest is open to everyone in our global community!</span>
        </li>
        <li class="bullet">
          <span class="p">Pull requests can be made in any GitHub-hosted repositories/projects.</span>
        </li>
        <li class="bullet">
          <span class="p">Sign up anytime between October 1 and October 31.</span>
        </li>
      </ul>
      <h2 class="title is-2 is-spaced">Rules</h2>
      <p class="p">
        To qualify for the official limited edition Hacktoberfest shirt, you must register and make four pull requests (PRs) between October 1-31 (in any time zone). PRs can be made to any public repo on GitHub, not only the ones with issues labeled Hacktoberfest. If a maintainer reports your pull request as spam or behavior not in line with the project’s code of conduct, you will be ineligible to participate. This year, the first 50,000 participants who successfully complete the challenge will earn a T-shirt.
      </p>
      <p>Read more about <%= link_to 'participation details', details_path, :class => "participation-link" %>.</p>
    </div>
    <div class="section2">
      <div class="line-br">
        <span class="line-br-1">-</span>
        <span class="line-br-2">-</span>
      </div>
      <a name="projects"></a>
      <h2 class="title is-2 is-spaced">Hacktoberfest projects</h2>
      <p class="p">
        You can contribute to any project on GitHub. Here are a few looking for some help:
      </p>
      <div class="level language-filter">
        <p id="projects-message" class="highlight">Displaying all Hacktoberfest projects</p>
        <div class="right">
          <div class="field">
            <div class="control">
              <div class="select">
                <%= collection_select(:language, :id, Language.all.sort_by(&:name), :id, :name, prompt: "Select language", html_options: {class: 'language-dropdown'}) %>
              </div>
            </div>
          </div>
          <button type="button" class="button button-small" id="reset-filter">Remove filter</button>
        </div>
      </div>
      <div class="grid" id="project-list">
        <%= render partial: 'languages/all_projects', locals: { projects: @projects } %>
      </div>
      <a href="https://github.com/search?q=label%3Ahacktoberfest+state%3Aopen+no%3Aassignee+is%3Aissue&type=Issues">
        <button class="button" type="button" name="button">Browse more on GitHub</button>
      </a>
      <a name="climate"></a>
      <h2 class="title is-2 is-spaced climate">Projects focused on climate change</h2>
      <p class="p">
        Because we believe open source technology has the potential to change the world, we wanted to showcase a few projects focused on combating climate change:
      </p>
      <div class="grid">
        <% @climate_repositories.map do |repository| %>
         <a href="<%= repository[:url] %>">
          <div class="box projects grow-shadow">
            <div class="title-wrap">
              <h3 class="repo-name"> <%= repository[:name] %> </h3>
              <span class="lang"><%= repository[:language] %></span>
            </div>
            <p class="description"><%= repository[:description] %></p>
          </div>
           </a>
        <% end %>
      </div>
      <a href="https://github.com/topics/climate-change">
        <button class="button" type="button" name="button">Browse more on GitHub</button>
      </a>
    </div>
  </section>
  <section class="eventsBlock">
    <div class="section events">
      <div class="line-br">
        <span class="line-br-1">-</span>
        <span class="line-br-2">-</span>
      </div>
      <h2 class="title is-2 is-spaced">Global events</h2>
      <p class="p">
        Celebrate and support open source technology by
        <a href="https://hacktoberfest.digitalocean.com/eventkit">organizing</a>
        or attending a local event.
      </p>
      <!-- FEATURED EVENTS GENERATED HERE -->
      <section class="eventUnion">
        <% @events.map do |e| %>
        <a class="box grow-shadow" href="<%= e.url %>">
            <span class="eventMonth">
              <% formatted_date= e.date.to_formatted_s(:long).split(" ") %>
              <%= formatted_date[0] %>
            </span>
            <span class="eventDay">
              <%= formatted_date[1].split(",")[0] %>
            </span>
            <div>
            <span class="eventTitle">
              <%= e.name %>
            </span>
            <span class="eventLocation">
              <%= e.city %>, <%= e.country %>
            </span>
            </div>
        </a>
        <% end %>
      </section>
     <%= link_to 'See more events', events_path, :class => 'button' %>
    </div>
  </section>
  <section class="section sponsors">
    <div class="line-br">
      <span class="line-br-1">-</span>
      <span class="line-br-2">-</span>
    </div>
    <h2 class="title is-2 is-spaced">Words from our sponsors</h2>
    <section class="tile is-ancestor">
      <section class="tile is-child is-6">
        <h4 class="title is-4 is-spaced">
          <%= image_tag("DO-logo-footer.svg", :alt => "DO Logo") %>
        </h4>
        <p>
          We’re so excited to partner with
          <a href="https://dev.to">DEV</a>
          – an
          <a href="https://github.com/thepracticaldev/dev.to">open source</a>
          community platform built for developers of all backgrounds and experience levels – for this year’s Hacktoberfest. As a torch-bearer for open source, transparency, and inclusion in tech, DEV fully embodies the Hacktoberfest values. Check out the <a href="https://dev.to/t/hacktoberfest">#Hacktoberfest</a>
          tag on DEV for announcements and resources before, during, and after the event.
        </p>
      </section>
      <section class="tile is-child is-6">
        <h4 class="title is-4 is-spaced">
          <%= image_tag("DEV-logo-footer.svg", :alt => "DEV Logo", :class => "dev-logo") %>
        </h4>
        <p>
          As participants long before we became sponsors, we’re thankful to our friends at
          <a href="https://www.digitalocean.com/">DigitalOcean</a>
          for creating Hacktoberfest. As an advocate of developers and startups, their cloud platform uniquely hits on both simplicity and scalability. And their
          <a href="https://www.digitalocean.com/community">Community platform</a>
          has become a global resource for education on development and DevOps topics, further illustrating that they, too, are stewards of
          <a href="https://developers.digitalocean.com/opensource/">open source</a>.
        </p>
      </section>
    </section>
  </section>
</main>
<script type="text/javascript">
  setupHomeImageSwap();
  setupLanguageFilter();
  setupPRsOpenedChart();
</script>
