<div class="section">
  <div class="container">
    <div class="details">
      <h1 id="getting-started" class="title is-1"><a href="#getting-started">Getting started with Hacktoberfest</a></h1>
      <p>We ask all participants to read through the details to
        ensure that the global community is working toward a shared
        goal. Thanks for honoring the values and following the rules
        of participation.</p>
    </div>
    <div class="details-tabs">
      <ul id="tabs" class="details-box box">
        <li><a id="tab1">Beginners</a></li>
        <li><a id="tab2">Maintainers</a></li>
        <li><a id="tab3">Event organizers</a></li>
        <li><a id="tab4">Companies</a></li>
      </ul>
      <div class="box">
        <div id="tab1C" class="tab-block">
          <%= render 'pages/details_resources/beginners_resources' %>
        </div>
        <div id="tab2C" class="tab-block">
          <%= render 'pages/details_resources/maintainers_resources' %>
        </div>
        <div id="tab3C" class="tab-block">
          <%= render 'pages/details_resources/event_organizers_resources' %>
        </div>
        <div id="tab4C" class="tab-block">
          <%= render 'pages/details_resources/companies_resources' %>
        </div>
      </div>

    </div>

    <div class="container details">
      <h1 id="event-details" class="title is-1"><a href="#event-details">Event details</a></h1>
      <p><span class="highlight">●</span> Hacktoberfest is open to everyone in our global community!</p>
      <p><span class="highlight">●</span> Pull requests can be made in any GitHub-hosted repositories/projects.</p>
      <p><span class="highlight">●</span> You can sign up anytime between October 1 and October 31.</p>
    </div>

    <div class="container details">
      <h1 id="participation-rules" class="title is-1"><a href="#participation-rules">Participation rules</a></h1>
      <p>To qualify for the official limited edition Hacktoberfest shirt,
        you must register and then make four pull requests (PRs) between
        October 1-31 (in any time zone). PRs can be made to any public
        repo on GitHub, not only the ones with issues labeled Hacktoberfest.
        If a maintainer reports your pull request as invalid or behavior not in
        line with the project’s code of conduct, you will be ineligible to
        participate. This year, the first 50,000 participants who successfully
        complete the challenge will earn a T-shirt. (Last year 46,088
        earned a shirt!)</p>
    </div>

    <div class="container details">
      <h1 id="quality-standards" class="title is-1"><a href="#quality-standards">Quality standards</a></h1>
      <p>In line with Hacktoberfest value #2 (Quantity is fun,
        quality is key), here are examples of the PRs that we
        consider to be low-quality contributions (which we discourage).</p>
      <p><span class="highlight">●</span> PRs that are automated (e.g. scripted opening PRs to remove
        whitespace/optimize images)</p>
      <p><span class="highlight">●</span> PRs that are disruptive (e.g. taking someone else's branch/commits and making
        a PR) </p>
      <p><span class="highlight">●</span> PRs that are regarded by a project maintainer as a hindrance vs. helping</p>
      <p><span class="highlight">●</span> Something that's clearly an attempt to simply +1 your PR count for October</p>
      <p><span class="highlight">●</span> Last but not least, one PR to fix a typo is fine. 5 PRs to remove a stray
        whitespace... not. </p>
    </div>

    <div class="container details">
      <h1 id="values" class="title is-1"><a href="#values">Values</a></h1>
      <p>Inspired by you – the community – through your actions and stories.</p>
      <p><span class="highlight">●</span> <b>Everyone is welcome!</b> Hacktoberfest participants
        have represented 151 countries and thousands of unique skill sets. Our
        program welcomes everyone already in the open source software community – and
        anyone interested in diving in.</p>
      <p><span class="highlight">●</span> <b>Quantity is fun, quality is key!</b> Participating
        in Hacktoberfest leads to personal growth, professional opportunities, and
        community building. And it all begins with meaningful contributions to
        open source technology.</p>
      <p><span class="highlight">●</span> <b>Short-term actions, long-term impact!</b> In the
        open source community, we stand on the shoulders of those who came before
        us. Your participation has a lasting effect on people and technology long
        after October comes to an end. This is a voyage, not a race.</p>
    </div>

    <div class="container details">
      <h1 id="spam" class="title is-1"><a href="#spam">Let’s work together to reduce spam</a></h1>
      <p>
        <span class="highlight">●</span> <b>Spammy PRs can be labeled as “invalid.” </b>
        Maintainers are faced with the majority of spam that occurs during Hacktoberfest, and we dislike spam just as
        much as you. If you’re a maintainer, please label any spammy PRs submitted to the repositories you maintain as
        <b>invalid</b>, and close them. PRs with this label won't count toward Hacktoberfest.
      </p>
      <p>
        <span class="highlight">●</span> <b>There’s a seven-day review window for PRs. </b>
        This year, we've implemented a new seven-day grace period that all PRs for Hacktoberfest must go through before
        they count toward completing the challenge. Once a participant has submitted four eligible PRs (ready-to-review,
        not drafts), the review window begins. This period gives maintainers time to identify and label spammy PRs as
        <b>invalid</b>. If the PRs are not marked <b>invalid</b> within that window, they will allow the user to
        complete the Hacktoberfest challenge. If any of the PRs are labeled as <b>invalid</b>, however, the user will
        return to the pending state until they have four eligible PRs, at which point the review period will then start
        again.
      </p>
      <p>
        <span class="highlight">●</span> <b>Bad repositories will be excluded. </b>
        In the past, we've seen many repositories that encourage participants to make simple PRs – such as adding their
        name to a file – to quickly gain a PR toward winning Hacktoberfest. While this may be a learning tool for new
        contributors, it goes against one of our core values for Hacktoberfest. The quality of pull requests is
        paramount; quantity comes second. These repositories do not encourage quality contributions and provide an
        unfair advantage in completing the Hacktoberfest challenge. This year, we've implemented a system to block these
        repositories, and any pull requests submitted to such repositories will not be counted. If you’d like to report
        a repository, please fill out the form linked below.
      </p> <p><%= link_to "Report a repository", report_path, :class => "button button-small" %> </p>
    </div>
  </div>
</div>
