<section class="section">
  <h1 class="title is-1">Events</h1>

<!-- <div id="meetups" class="desktop-table">
  <input name="filter" class="search input" placeholder="Search for events" />

  <h2 class="highlight">Showing <span data-js="visible_event_count"> all <%= @events.length %></span> Events</h2>

  <table class="table is-narrow is-narrow is-fullwidth event-table is-fluid">
    <thead>
    <tr>
      <th class="sort" data-sort="location">Location</th>
      <th class="sort" data-sort="event_name">Event</th>
      <th class="sort" data-sort="date">Date</th>
    </tr>
    </thead>
    <tbody class="list">
      <% @events.map do |e| %>
        <% if e.current? %>
          <tr>
        <% else %>
          <tr class="past">
        <% end %>
            <td class="multisort is-hidden">
              <%= e.current? ? 'Future' : 'Past'%>
              <%= e.country %>
              <%= e.date.strftime("%m %d") %>
            </td>
            <td class="location"><%= e.location %></td>
            <td class="event_name">
              <a class="emphasis" href="<%= e.url %>" target="blank" rel="noopener"><%= e.name %></a>
              <br/>
              by <%= e.organizer %>
            </td>
            <td class="date is-hidden"><%= e.date %></td>
            <td><%= e.date.strftime("%b %e") %></td>
          </tr>
      <% end %>
  </table>
  </div> -->


  <div id="meetups"  class="mobile-table">
    <input name="filter" class="search input mobile" placeholder="Search for events" />

    <h2 class="highlight mobile">Showing <span data-js="visible_event_count"> all <%= @events.length %></span> Events</h2>

    <table id="mobile-table" class="table is-narrow is-narrow is-narrow is-narrow event-table mobile">
      <thead>
      <tr>
        <span id="mobile-sort" class="sort mobile" data-sort="location">Location</span>
        <span id="mobile-sort" class="sort mobile" data-sort="event_name">Event</span>
        <span id="mobile-sort" class="sort mobile" data-sort="date">Date</span>
      </tr>
      </thead>
      <tbody class="list mobile">
        <% @events.map do |e| %>
          <% if e.current? %>
            <tr>
          <% else %>
            <tr class="past mobile">
          <% end %>
          <tr>
            <td>
              <div class="multisort is-hidden mobile">
                <%= e.current? ? 'Future' : 'Past'%>
                <%= e.country %>
                <%= e.date.strftime("%m %d") %>
              </div>
              <br/>
              <div class="location mobile"><%= e.location %></div>
                <br/>
              <div class="event_name mobile">
                <a class="emphasis mobile" href="<%= e.url %>" target="blank" rel="noopener"><%= e.name %></a>
                <br/>
                by <%= e.organizer %>
              </div>
                <br/>
              <div>
                <div class="date is-hidden mobile"><%= e.date %></div>
                <div><%= e.date.strftime("%b %e") %></div>
              </div>
              <br/>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  <p>
    New events will be added throughout Hacktoberfest – please check back soon!
  </p>

  <section>
    <br/>
    <br/>
    <div class="line-br">
      <span class="line-br-1">-</span>
      <span class="line-br-2">-</span>
    </div>
    <br/>
    <h2 class="title is-2">List your event</h2>
    <p>
      To add your Hacktoberfest 2019 event to this page, please <%= link_to 'share the event details here', event_kit_path + "/#form" %>.
    </p>
  </section>

  <br/>
  <br/>
  <p>
    <small>
      Hacktoberfest events are organized by individuals and organizations in your community. (Thank you, everyone!) We kindly ask you to follow the <a href="https://do.co/hacktoberconduct">Hacktoberfest Events Code of Conduct</a> when organizing or attending an event.
    </small>
  </p>
</section>
<script type="text/javascript">
  var event_count_display = document.querySelector('*[data-js="visible_event_count"]'),
      meetupsList = new List('meetups', {
    valueNames: ['multisort', 'location', 'event_name', 'date']
  });
  meetupsList.sort('multisort', { order: "asc" });
  meetupsList.on('updated', function(){
    event_count_display.innerText = meetupsList.visibleItems.length;
  });
</script>
