<main class="section is-fluid fluid-content-page">
  <a name="top">
    <h1 class="title is-1">What is Hacktoberfest?</h1>
  </a>
  <p>Have questions? These are the most Frequently Asked Questions about Hacktoberfest.</p>
  <section class="level section">
    <a class="is-size-3" href="#general">General</a>
    <a class="is-size-3" href="#rules">Rules</a>
    <a class="is-size-3" href="#events">Events</a>
    <a class="is-size-3" href="#shipping">Shipping</a>
  </section>
  <div class="qa-section">
    <a href="#top">
      <button id="back-to-top" class="button" type="button" name="button">Back to top</button>
    </a>
    <a name="generalSection">
      <h2 class="title is-2 highlight">General</h2>
    </a>
    <button id="exp-coll" class="button ex-col-all" type="button" name="button">Expand/Collapse All</button>
    <% @faqs_general.map do |q| %>
      <div class="question-answer">
        <div class="question expand"><%= markdown(q["Question"])%> <span class="is-size-3 chevron">&#x2304;</span></div>
        <div class="answer hidden"> <%= markdown q["Answer"] %></div>
      </div>
    <% end %>
  </div>
  <div class="qa-section">
    <a name="rules">
      <h2 class="title is-2 highlight">Rules</h2>
    </a>
    <!-- <button id="exp-coll" class="button ex-col-all" type="button" name="button">Expand/Collapse All</button> -->
    <% @faqs_rules.map do |q| %>
      <div class="question-answer">
        <div class="question expand"><%= markdown(q["Question"])%> <span class="is-size-3 chevron">&#x2304;</span></div>
        <div class="answer hidden"> <%= markdown q["Answer"] %></div>
      </div>
    <% end %>
  </div>
  <div class="qa-section">
    <a name="events">
      <h2 class="title is-2 highlight">Events </h2>
    </a>
    <!-- <button id="exp-coll" class="button ex-col-all" type="button" name="button">Expand/Collapse All</button> -->
    <% @faqs_events.map do |q| %>
      <div class="question-answer">
        <div class="question expand"><%= markdown(q["Question"])%> <span class="is-size-3 chevron">&#x2304;</span></div>
        <div class="answer hidden"> <%= markdown q["Answer"] %></div>
      </div>
    <% end %>
  </div>
  <div class="qa-section">
    <a name="shipping">
      <h2 class="title is-2 highlight">Shipping </h2>
    </a>
    <!-- <button id="exp-coll" class="button ex-col-all" type="button" name="button">Expand/Collapse All</button> -->
    <% @faqs_shipping.map do |q| %>
      <div class="question-answer">
        <div class="question expand"><%= markdown(q["Question"])%> <span class="is-size-3 chevron">&#x2304;</span></div>
        <div class="answer hidden"> <%= markdown q["Answer"] %></div>
      </div>
    <% end %>
  </div>
</main>
<script type="text/javascript">
 var question =  document.getElementsByClassName("question-answer");
 var answer = document.getElementsByClassName("hidden");
 var expandAll = document.getElementsByClassName("ex-col-all")[0];

 // Expand all questions
 expandAll.addEventListener("click", function(){
   for(var j=0; j<answer.length;j++){
     answer[j].classList.toggle("show");
   }
 })


 // Expand single target item
 for(var i = 0; i< question.length; i++){
   question[i].addEventListener("click", function() {
     var temp = this;
     var content = temp.querySelector(".answer");
     console.log(content);
     content.classList.toggle("hidden");

   })
 }
</script>
