<div>
  <%= link_to 'Hacktoberfest', '/' %>
  <h2>General </h2><br/>
  <% @faqs_general.map do |q| %>
    <h4><%= markdown q["Question"] %></h4>
    <p> <%= markdown q["Answer"] %></p><br/>
  <% end %>

  <h2>Rules</h2><br/>
  <% @faqs_rules.map do |q| %>
    <h4><%= markdown q["Question"] %></h4>
    <p> <%= markdown q["Answer"] %></p><br/>
  <% end %>

  <h2>Events </h2><br/>
  <% @faqs_events.map do |q| %>
    <h4><%= markdown q["Question"] %></h4>
    <p> <%= markdown q["Answer"] %></p><br/>
  <% end %>

  <h2>Shipping </h2><br/>
  <% @faqs_shipping.map do |q| %>
    <h4><%= markdown q["Question"] %></h4>
    <p> <%= markdown q["Answer"] %></p><br/>
  <% end %>
</div>



<!-- Colors and fonts used on live faq site: -->
<!--
  Blue background: rgb(21, 35, 71)
  Nav Link hovers:   bottom-border: 2px solid #fff922;
  Section header font color: rgb(255, 255, 255)
  Text font color: rgb(153, 161, 179);
  Link color: rgb(50, 115, 220);
  Link hover color: rgb(255, 0, 170);
  Link visited color: same as regular link color - rgb(50, 115, 220);

  Font family info:    font-family: Space Mono,monospace;
  h1 font size:  2em
  h1 line height: 1.125 em

  h2 font size: 1.75 em
  h2 line height: 1.125 em

  h3 font size: 1.5 em
  h3 line height: 1.125 em

  h4 font size: 1.25 em
  h4 line height: 1.125 em

  Text font size: computed font size = 16px
  text line height: computed line height = 24px
 -->


<!-- Text from hacktoberfest faq live site -->
<!-- <p>
  What is Hacktoberfest?
Have questions? These are the most Frequently Asked Questions about Hacktoberfest.
General
What is Hacktoberfest?

Hacktoberfest is a month-long celebration of open source software run by DigitalOcean and DEV.

    Hacktoberfest is open to everyone in our global community!
    Four quality pull requests must be submitted to public GitHub repositories.
    You can sign up anytime between October 1 and October 31.

How do I get started?

Register at https://hacktoberfest.digitalocean.com/ Submit a PR to any public GitHub repository. Quality contributions are encouraged! You can look for open issues labeled “Hacktoberfest” for inspiration.

Maintaining a repo?

Create issues labeled or label existing ones "Hacktoberfest" on your GitHub projects to help new contributors know what to work on. Tag any spam or irrelevant PRs with the "invalid" label to disqualify them.
I completed 4 PRs. When will I receive my t-shirt?

We will start sending out emails with more details on redeeming t-shirts throughout the month. Stay tuned! If you don't receive one by the first 2-3 days of November, please let us know.
How do I get stickers?

Stickers are included with your t-shirt, once you complete 4 PRs.
What happens if I complete fewer than 4 PRs by the end of the month?

Unfortunately you will have to submit at least 4 PRs in order to get a T-shirt.
As a maintainer, how should I handle spam PRs?

We don't like seeing spam PRs just as much as you, please give them an 'invalid' label and close them. PRs labelled like this won't be counted towards Hacktoberfest.
As a maintainer, how do I encourage contributions to my repos?

Create issues for anything you’d like contributors to help with, making sure to give them a ‘Hacktoberfest’ label so they’re easier to discover.

You can also share issues or repositories on Twitter, using #Hacktoberfest where we’ll try to retweet as many as we can for contributors to see!
Rules
Do contributions made outside of GitHub count?

No, PRs must be made on the GitHub platform.
Do issues/commits count?

No, only PRs count.
I signed up for Hacktoberfest mid-October. Will PRs that I created earlier in October count?

Yes, all pull requests created between Oct 1 and Oct 31 will count, regardless of when you register for Hacktoberfest. Pull requests created before Oct 1 but merged after do not count.
Do issues have to be tagged #Hacktoberfest to count?

No, any pull request made on a public repository counts, whether it’s attached to a #Hacktoberfest issue or not.
Do PRs made on my own repos count?

Yes, but we strongly encourage you to make quality contributions to other repositories.
Can I make PRs to issues/repos that are not listed on the homepage?

Yes! Any public GitHub repo is good for Hacktoberfest.
Do multiple PRs to the same repo count?

Yes, every one of them will count separately.
Do PRs have to be accepted/merged?

No. They will still count unless they are spam, irrelevant, or tagged as invalid.
Shipping
Will I have to pay anything to receive my t-shirt/stickers?

T-shirts are free of charge for participants. We are covering shipping costs as well.
I didn’t receive my Hacktoberfest 2018 T-shirt/Swag!

We are no longer printing 2018 T-shirts. If you did not receive your T-shirt, this means we tried multiple times and they did not make it. We are working hard on improving the shipping process this year so that everyone receives their T-shirts. Thank you for your understanding.
Will I have to pay anything/custom tax/duty for the t-shirt?

We write down a $ value on the mailed packages low enough that we don't expect any issues with custom tax, but we cannot guarantee that—you might have to pay a small fee depending on your country's import policies.
When will my t-shirt be shipped? (Intl)

You will receive an email once your t-shirt is shipped. It can take up to 3-5 weeks after shipment for international orders to be delivered. We are doing our best to ship all shirts by the end of the first week of November this year.
When will my t-shirt be shipped? (US)

You will receive an email once your t-shirt is shipped. It can take up to 1-2 weeks after shipment for orders within the U.S. to be delivered. We are doing our best to ship all shirts by the end of the first week of November this year.
How do I return or exchange an item?

If you believe your order was mis-shipped, contact us with the order # in the subject line and an explanation of the incorrect item you received. Otherwise, within 30 days of original purchase, follow the instructions at https://kotisdesign.com/returns. You will be responsible for shipping the item back to us.
My tracking is not active - is my tracking number correct?

You may receive a tracking email 2-3 days before tracking becomes active on DHL's website.
My international order is delayed. What can I do?

We recommend contacting DHL in your country for help with clearing the package: http://www.dhl.com/en/contact_center/contact_parcel_ecommerce.html
What countries do you ship to?

We are able to ship to all countries with the exception of the following: Cuba, Iran, North Korea, Sudan, Syria, Sierra Leone, Libya, Somalia, Yemen.
What size t-shirt should I order?

You can reference the size charts for the tee shirts on the ordering page. Both size charts include measurements (in inches) and instructions for how to measure.
How do I change my t-shirt size?

Please email hacktoberfest@digitalocean.com with your order number and t-shirt size you want and we'll update your order.
How do I change my email address?

If you are unable to access the email address you used to place your order, please provide us with a new email address and your order number so we can update your order information.
Did my t-shirt order go through?

If you did not receive an order confirmation email, we can look up your order using the email address you used.
Events
How can I host a Hacktoberfest event?

See the Hacktoberfest Event Organizer Kit: https://hacktoberfest.digitalocean.com/eventkit
Can you help me promote my Hacktoberfest event?

Tell us about your event: https://hacktoberfest.digitalocean.com/eventkit#form and we’ll add it to hacktoberfest.digitalocean.com!
Will Hacktoberfest t-shirts be given out at events?

No. A Hacktoberfest t-shirt will be mailed — after the end of Hacktoberfest — to participants who make four pull requests on GitHub between October 1 and October 31.
I’d like some credits for my Hacktoberfest meetup/event attendees. Can you give me some?

Feel free to share the following link with your attendees and use this wording:

“New to DigitalOcean? Receive USD $50 in infrastructure credit at https://do.co/hacktoberfest_2019.”

Note that the free credit only applies to users who are new to DigitalOcean, and requires a valid credit card.
I’d like to speak/demo at a Hacktoberfest event. Can you give me free infrastructure credit?

Great! Please tell us more about your demo at https://www.digitalocean.com/droplets-for-demos/ and we'll get back to you soon!
</p> -->
