
<main class="container is-fluid is-centered">
  <!-- <h2 class="h2"><%= link_to 'logo_goes_here', '/' %></h2> -->
  <h1 class="h1">What is Hacktoberfest?</h1>
  <h3 class="h3">Have questions? These are the most Frequently Asked Questions about Hacktoberfest.</h3>
  <h2 class="h2">General </h2><br/>
  <% @faqs_general.map do |q| %>
    <h4 class="h4"><%= markdown q["Question"] %></h4>
    <p> <%= markdown q["Answer"] %></p><br/>
  <% end %>

  <h2 class="h2">Rules</h2><br/>
  <% @faqs_rules.map do |q| %>
    <h4 class="h4"><%= markdown q["Question"] %></h4>
    <p> <%= markdown q["Answer"] %></p><br/>
  <% end %>

  <h2 class="h2">Events </h2><br/>
  <% @faqs_events.map do |q| %>
    <h4 class="h4"><%= markdown q["Question"] %></h4>
    <p> <%= markdown q["Answer"] %></p><br/>
  <% end %>

  <h2 class="h2">Shipping </h2><br/>
  <% @faqs_shipping.map do |q| %>
    <h4 class="h4"><%= markdown q["Question"] %></h4>
    <p> <%= markdown q["Answer"] %></p><br/>
  <% end %>
</main>
