<main class="section is-fluid fluid-content-page">
  <h1 class="title is-1">What is Hacktoberfest?</h1>
  <p>Have questions? These are the most Frequently Asked Questions about Hacktoberfest.</p>
  <h2 class="title is-2 highlight jump-title">Jump to</h2>
  <section class="level jump-to">
    <a href="#generalSection">General</a>
    <a href="#rulesSection">Rules</a>
    <a href="#eventsSection">Events</a>
    <a href="#shippingSection">Shipping</a>
  </section>
  <div class="qa-section">
    <a href="#top">
      <button id="back-to-top" class="button" type="button" name="button">Back to top</button>
    </a>
    <button id="exp-coll" class="button ex-col-all" type="button" name="button">Expand/Collapse All</button>
    <a name="generalSection">
      <h2 class="title is-2 highlight">General</h2>
    </a>
    <% @faqs_general.map do |q| %>
      <details class="question-answer">
        <summary class="question expand" open = "false"><%= markdown(q["Question"])%> <span class="is-size-3 chevron">&#x2304;</span></summary>
        <div class="answer hidden"> <%= markdown q["Answer"] %></div>
      </details>
    <% end %>
  </div>
  <div class="qa-section">
    <a name="rulesSection">
      <h2 class="title is-2 highlight">Rules</h2>
    </a>
    <% @faqs_rules.map do |q| %>
      <details class="question-answer">
        <summary class="question expand"><%= markdown(q["Question"])%> <span class="is-size-3 chevron">&#x2304;</span></summary>
        <div class="answer hidden"> <%= markdown q["Answer"] %></div>
      </details>
    <% end %>
  </div>
  <div class="qa-section">
    <a name="eventsSection">
      <h2 class="title is-2 highlight">Events</h2>
    </a>
    <% @faqs_events.map do |q| %>
      <details class="question-answer">
        <summary class="question expand"><%= markdown(q["Question"])%> <span class="is-size-3 chevron">&#x2304;</span></summary>
        <div class="answer hidden"> <%= markdown q["Answer"] %></div>
      </details>
    <% end %>
  </div>
  <div class="qa-section">
    <a name="shippingSection">
      <h2 class="title is-2 highlight">Shipping</h2>
    </a>
    <% @faqs_shipping.map do |q| %>
      <details class="question-answer">
        <summary class="question expand"><%= markdown(q["Question"])%> <span class="is-size-3 chevron">&#x2304;</span></summary>
        <div class="answer hidden"> <%= markdown q["Answer"] %></div>
      </details>
    <% end %>
  </div>
</main>
