<section class="section">
  <h1 class="title is-1">Hacktoberfest events</h1>
  <p>
    Hacktoberfest events are organized by individuals and organizations in your community. (Thank you, everyone!) We kindly ask you to follow the Hacktoberfest Events <a href="https://do.co/hacktoberconduct">Code of Conduct</a> when organizing or attending an event.
  </p>

<div id="meetups">
  <input name="filter" class="search input" placeholder="Search for events" />
  
  <h2 class="highlight">Showing <span data-js="visible_event_count"> all <%= @meetups.length %></span> Events</h2>

  <table class="table is-narrow is-narrow is-fullwidth event-table">
    <thead>
    <tr>
      <th class="sort" data-sort="location">Location</th>
      <th class="sort" data-sort="event_name">Event</th>
      <th class="sort" data-sort="date">Date</th>
    </tr>
    </thead>
    <tbody class="list">
      <% unless @meetups.blank? %>
        <% @meetups.map do |m| %>
          <% if DateTime.parse(m["Event Start Date/Time"]) > DateTime.yesterday%>
            <tr>
          <% else %>
            <tr class="past">
          <% end %>
              <td class="multisort is-hidden">
                <%= DateTime.parse(m["Event Start Date/Time"]) > DateTime.yesterday ? 'Future' : 'Past'%>
                <%= m["Event Country"] %> 
                <%= DateTime.parse(m["Event Start Date/Time"]).strftime("%m %d") %>
              </td>
              <td class="location">
                <%= m["Event City"] %>,
                <%= m["Event State"] || '' %>
                <%= m["Event Country"] %>
              </td>
              <td class="event_name">
                <a class="emphasis" href="<%= m["Event URL"] %>" target="blank" rel="noopener"><%= m["Event Name"] %></a>
                <br/>
                by <%= m["Event Organizer"] %>
              </td>
              <td class="date"><%= DateTime.parse( m["Event Start Date/Time"]).strftime("%b %e") %></td>
            </tr>
        <% end %>
      <% end %>
  </table>
  <section>
  <h2 class="title is-2">Submit your Hacktoberfest 2019 event</h2>
  <div>
    <%= link_to 'Submit event', eventkit_path + "/#form" %>
  </div>
  </section>
</section>
<script>
  var event_count_display = document.querySelector('*[data-js="visible_event_count"]'),
      meetupsList = new List('meetups', {
    valueNames: ['multisort', 'location', 'event_name', 'date']
  });
  meetupsList.sort('multisort', { order: "asc" });
  meetupsList.on('updated', function(){
    event_count_display.innerText = meetupsList.visibleItems.length;
  });
</script>
