<section class="section">
  <h1 class="title is-1">Hacktoberfest events</h1>

<div id="meetups">
  <input name="filter" class="search input" placeholder="Search for events" />
  
  <h2 class="highlight">Showing <span data-js="visible_event_count"> all <%= @meetups.length %></span> Events</h2>

  <table class="table is-narrow is-narrow is-fullwidth event-table">
    <thead>
    <tr>
      <th class="sort" data-sort="location">Location</th>
      <th class="sort" data-sort="event_name">Event</th>
      <th class="sort" data-sort="date">Date</th>
    </tr>
    </thead>
    <tbody class="list">
      <% unless @meetups.blank? %>
        <% @meetups.map do |m| %>
          <% if DateTime.parse(m["Event Start Date/Time"]) > DateTime.yesterday%>
            <tr>
          <% else %>
            <tr class="past">
          <% end %>
              <td class="multisort is-hidden">
                <%= DateTime.parse(m["Event Start Date/Time"]) > DateTime.yesterday ? 'Future' : 'Past'%>
                <%= m["Event Country"] %> 
                <%= DateTime.parse(m["Event Start Date/Time"]).strftime("%m %d") %>
              </td>
              <td class="location">
                <%= m["Event City"] %>,
                <%= m["Event State"] || '' %>
                <%= m["Event Country"] %>
              </td>
              <td class="event_name">
                <a class="emphasis" href="<%= m["Event URL"] %>" target="blank" rel="noopener"><%= m["Event Name"] %></a>
                <br/>
                by <%= m["Event Organizer"] %>
              </td>
              <td class="date"><%= DateTime.parse( m["Event Start Date/Time"]).strftime("%b %e") %></td>
            </tr>
        <% end %>
      <% end %>
  </table>
  </div>

  <p>
    New events will be added throughout Hacktoberfest – please check back soon!
  </p>
  
  <section>
    <br/>
    <br/>
    <div class="line-br">
      <span class="line-br-1">-</span>
      <span class="line-br-2">-</span>
    </div>
    <h2 class="title is-2">List your event</h2>
    <p>
      To add your Hacktoberfest 2019 event to this page, please <%= link_to 'share the event details here', event_kit_path + "/#form" %>.
    </p>
  </section>

  <br/>
  <br/>
  <p>
    <small>
      Hacktoberfest events are organized by individuals and organizations in your community. (Thank you, everyone!) We kindly ask you to follow the <a href="https://do.co/hacktoberconduct">Hacktoberfest Events Code of Conduct</a> when organizing or attending an event.
    </small>
  </p>
  
</section>
<script>
  var event_count_display = document.querySelector('*[data-js="visible_event_count"]'),
      meetupsList = new List('meetups', {
    valueNames: ['multisort', 'location', 'event_name', 'date']
  });
  meetupsList.sort('multisort', { order: "asc" });
  meetupsList.on('updated', function(){
    event_count_display.innerText = meetupsList.visibleItems.length;
  });
</script>
