<section class="section">
  <h1 class="title is-1">Hacktoberfest events</h1>
  <p>
    Hacktoberfest events are organized by individuals and organizations in your community. (Thank you, everyone!) We kindly ask you to follow the Hacktoberfest Events Code of Conduct when organizing or attending an event.
  </p>

  <table class="table is-narrow is-narrow is-fullwidth event-table">
    <thead>
    <tr>
      <th><abbr title="Location">Location</abbr></th>
      <th><abbr title="Event">Event</abbr></th>
      <th><abbr title="Date">Date</abbr></th>
      <th><abbr title="Start Time">start time</abbr></th>
      <th><abbr title="Organized by">Organized by</abbr></th>
      <th><abbr title="RSVP">RSVP</abbr></th>
    </tr>
    </thead>
    <tbody>
      <% unless @meetups.blank? %>
        <% @meetups.map do |m| %>
        <tr>
          <td><%= m["Event City"] %>, <%= m["Event Country"] %></td>
          <td><%= m["Event Name"] %></td>
          <% date_time_info = DateTime.parse(m["Event Start Date/Time"]).to_formatted_s(:short).split(' ') %>

          <td><%= date_time_info[1] + " " +  date_time_info[0]  %></td>
  <!-- //FIGMA dictates a start time column date but currently date and start time are being pulled together -->
          <td><%= DateTime.parse( m["Event Start Date/Time"]).strftime("%I:%M %p") %></td>
  <!-- //FIGMA dictates an end date column but no end date is being pulled currently -->
          <td><%= m["Event Organizer"] %></td>
          <td><a href="<%= m["Event URL"] %>">view more details <a/></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <section>
  <h2 class="title is-2">Submit your Hacktoberfest 2019 event</h2>
  <div>
    <%= link_to 'Submit event', event_kit_path + "/#form" %>
  </div>
  </section>
</section>
