<tr>
  <td>
    <div class="timeline-wrapper">
      <div class="pr-icon">
        <%= render partial: 'users/show/pr/icon', locals: { pr: pr } %>
      </div>
      <div class="pr-time-title">
        <div class="timeline-date">
          <p class="date"><%= DateTime.parse(pr.created_at).to_formatted_s(:long) %><br/></p>
        </div>
        <h4 class="pr-title">
          You submitted <a href="<%= pr.url %>"><%= pr.title %></a> to <%= pr.name_with_owner %><br/>
        </h4>
      </div>
      <div class="pr-waiting">
        <% if pr.waiting? %>
          <span class="mature">mature in:</span> <span class="count-down" id="<%= pr.github_id %>-waiting-date"><%= pr.waiting_since.to_formatted_s(:long) %></span>
        <% end %>
      </div>
    </div>
  </td>
</tr>

<% if pr.waiting? %>
  <script type="text/javascript">
      countdownTimers(
          document.getElementById('<%= pr.github_id %>-waiting-date'),
          "<%= pr.waiting_since&.httpdate %>",
      );
  </script>
<% end %>
