<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hacktoberfest presented by DigitalOcean and DEV</title>
    <meta charset="utf-8">
    <meta name="title" content="Hacktoberfest presented by DigitalOcean and DEV">
    <meta name="description" content="Open source is changing the world – one pull request at a time.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@hacktoberfest">
    <meta name="twitter:creator" content="@hacktoberfest">
    <meta name="twitter:title" content="Hacktoberfest presented by DigitalOcean and DEV">
    <meta name="twitter:image" content="<%= image_url('HF19_social.png') %>">
    <meta name="twitter:url" content="https://hacktoberfest.digitalocean.com/">
    <meta prefix="og: http://ogp.me/ns#" property="og:title" content="Hacktoberfest presented by DigitalOcean and DEV">
    <meta prefix="og: http://ogp.me/ns#" property="og:type" content="website">
    <meta prefix="og: http://ogp.me/ns#" property="og:locale" content="en_US">
    <meta prefix="og: http://ogp.me/ns#" property="og:site_name" content="Hacktoberfest">
    <meta prefix="og: http://ogp.me/ns#" property="og:description" content="Open source is changing the world – one pull request at a time.">
    <meta prefix="og: http://ogp.me/ns#" property="og:url" content="https://hacktoberfest.digitalocean.com/">
    <meta prefix="og: http://ogp.me/ns#" property="og:image" content="<%= image_url('HF19_social.png') %>">

    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => "reload" %>
    <link rel="stylesheet" href="https://assets.digitalocean.com/cookieConsent/cookieConsent.css">
    <%= javascript_include_tag 'application' %>
    <%= render 'shared/airbrake' %>
    <%= render 'shared/segment' %>
  </head>
  <body>
  <div class="top-bgs">
    <%= render 'shared/header' %>
    <%= yield %>
  </div>
  <%= render 'shared/footer' %>
  <!-- Header Logo Tilt -->
  <script type="text/javascript">
  	VanillaTilt.init(document.getElementById("header-logo"), {
  		max: 5,
  		speed: 300
    });
  // Footer Logo Tilt
  	VanillaTilt.init(document.getElementById("footer-logo"), {
  		max: 7,
  		speed: 300
  	});
  </script>

  <% if Rails.env.production? %>
    <script type="text/javascript">
      window.cookieDomain = ".digitalocean.com";
    </script>
  <% else %>
    <script type="text/javascript">
      window.cookieDomain = window.location.hostname;
    </script>
  <% end %>

  <script src="https://assets.digitalocean.com/cookieConsent/cookieConsent.js"></script>

  <% if Rails.env.production? %>
    <script>
      window.addEventListener('cookieconsent_statuschange', function(e) {
        if(e.detail.status === 'deny') { return; }
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KHWBBT');
      });
    </script>
  <% end %>

  </body>
</html>
