<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hacktoberfest presented by DigitalOcean and DEV</title>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => "reload" %>
    <%= javascript_include_tag 'application' %>
    <%= render 'shared/airbrake' %>
    <%= render 'shared/segment' %>
  </head>
  <body>
  <div class="top-bgs">
    <%= render 'shared/header' %>
    <%= yield %>
  </div>
  <%= render 'shared/footer' %>
  <!-- Header Logo Tilt -->
  <script type="text/javascript">
  	VanillaTilt.init(document.getElementById("header-logo"), {
  		max: 5,
  		speed: 300
    });
    // <!-- Footer Logo Tilt -->
  	VanillaTilt.init(document.getElementById("footer-logo"), {
  		max: 7,
  		speed: 300
  	});
  </script>
  </body>
</html>
