<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hacktoberfest presented by DigitalOcean</title>
    <meta charset="utf-8">
    <meta name="title" content="Hacktoberfest presented by DigitalOcean">
    <meta name="description" content="Open source is changing the world – one pull request at a time.">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@hacktoberfest">
    <meta name="twitter:creator" content="@hacktoberfest">
    <meta name="twitter:title" content="Hacktoberfest presented by DigitalOcean">
    <meta name="twitter:description" content="Open source is changing the world – one pull request at a time.">
    <meta name="twitter:image" content="<%= content_for?(:meta_image) ? yield(:meta_image) : image_url('og-hf20.png') %>">
    <meta name="twitter:url" content="https://hacktoberfest.digitalocean.com/">

    <meta prefix="og: http://ogp.me/ns#" property="og:title" content="Hacktoberfest presented by DigitalOcean">
    <meta prefix="og: http://ogp.me/ns#" property="og:type" content="website">
    <meta prefix="og: http://ogp.me/ns#" property="og:locale" content="en_US">
    <meta prefix="og: http://ogp.me/ns#" property="og:site_name" content="Hacktoberfest">
    <meta prefix="og: http://ogp.me/ns#" property="og:description" content="Open source is changing the world – one pull request at a time.">
    <meta prefix="og: http://ogp.me/ns#" property="og:url" content="https://hacktoberfest.digitalocean.com/">
    <meta prefix="og: http://ogp.me/ns#" property="og:image" content="<%= content_for?(:meta_image) ? yield(:meta_image) : image_url('og-hf20.png') %>">

    <script type="text/javascript">
    
    // before turbolinks renders remove or add class dark - this is needed to prevent a flash of previous styles
    document.addEventListener("turbolinks:before-render", (event)=> {
      if (localStorage.getItem('mode') === 'light') event.data.newBody.classList.remove('dark')
      if (localStorage.getItem('mode') === 'dark')  event.data.newBody.classList.add('dark')
    })

    // after turbolinks fully loads readd or remove class dark - this is needed because turbolinks strips all scripts :/
    document.addEventListener("turbolinks:load", ()=> {
      ((localStorage.getItem('mode') || 'light') === 'dark') ? document.querySelector('body').classList.add('dark') : document.querySelector('body').classList.remove('dark');
    });
    </script>
    
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => "reload" %>
    <link rel="stylesheet" href="https://assets.digitalocean.com/cookieConsent/cookieConsent.css">
    <%= javascript_include_tag 'application' %>
    <%= render 'shared/airbrake' %>
    <%= render 'shared/segment' %>
  </head>
  <body>
  <div>
    <%= render 'shared/header' %>
    <%= yield %>
  </div>
  <%= render 'shared/footer' %>

  <% if Rails.env.production? %>
    <script type="text/javascript">
      window.cookieDomain = ".digitalocean.com";
    </script>
  <% else %>
    <script type="text/javascript">
      window.cookieDomain = window.location.hostname;
    </script>
  <% end %>

  <script src="https://assets.digitalocean.com/cookieConsent/cookieConsent.js"></script>

  <% if Rails.env.production? %>
    <script>
      window.addEventListener('cookieconsent_statuschange', function(e) {
        if(e.detail.status === 'deny') { return; }
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KHWBBT');
      });
    </script>
  <% end %>
  </body>
</html>
